<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our App</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css">
  </head>

  <body>
    <a href="{% url 'bookapp:home'%}">Home</a>
    <a href="{% url 'bookapp:newbook'%}">Add Book and Review</a>
    <a href="{% url 'logregapp:index'%}">Logout</a>

    {% for user in currentUser %}
    <h2>User Alias: {{user.user_alias}}</h2>
    <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
    <h3>Email: {{user.email}}</h3>
    {% endfor %}


    <h3>Total  Reviews: {{ totalReviewlen }}</h3>


    <h2>Posted Reviews on the following books:</h2>
    {% for review in totalReview %}
    <p><a href="{% url 'bookapp:info' review.book_reviewed.id %}">{{review.book_reviewed.title}} </a></p>
    {% endfor %}

  </body>
</html>
